 

@import "/forum/forum.css";
/* @import "/events.css";
@import "/login.css"; */
/* //@import '../styles/config'; */
 
@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --color-dark:0 0% 20%;
    --color-light:0 0% 80%;
    --color-text:0 0% 50%;
  }
}
 
:root {
  --bg-color: #eee;
  --primary: #aaa;
  --p0: 0.4em;
  --p1: 1em;
  --p2: 2em;
  --max-h: 100vh;
  --form-w: 300px;
  --background: 200 20% 98%;
    --btn-background: 200 10% 91%;
    --btn-background-hover: 200 10% 89%;
    --foreground: 200 50% 3%;
}
body{
 overflow: hidden; 
  font-size:100%;
 }
html{
 overflow-x: hidden;

}
 
.Overlay::-webkit-scrollbar , .inSlidePop::-webkit-scrollbar ,.culturaysPop::-webkit-scrollbar , .grid_slide::-webkit-scrollbar{ 

  width: 0; 
    height:0
  }
  
*{ 
/* font-family: $culturays-font-family; */
/* margin: 0 ;
padding: 0;
box-sizing: border-box;
scrollbar-width: thin;  */
/* scrollbar-color: rgb(194, 194, 204) #e6e8e9;; */
 
} 


 *::-webkit-scrollbar {
width:12px; 
height:9px
} 

*::-webkit-scrollbar-thumb {
background-color:#a6a6b6;
border-radius: 20px;
border: 7px solid #a6a6b6;

}
.netflix-list:not(:last-child){
    border-bottom:1px solid #bf7702
}

.netflix-list:nth-last-child(2){
  border-bottom:0
}
 
.latestSec ul {
  counter-reset: item;
}
.latestSec li { 
  counter-increment: item; 
position: relative; 
}
 
.latestSec li:before {
  content: counter(item); 
  border-radius:100px;
  background-color:inherit; 
  width:50px;
  position:absolute;
  padding:11px ;
  left:-45px; 
  border:1px solid #f5c242;
  font-size: 35px;
  font-style:italic;
  font-color:#fff ;
}
/* .latestSec a:nth-child(odd) > ol > li {
  background-color: #282c94;font-color:#fff border:1px solid #3ef3ef ;
}

.latestSec a:nth-child(even) > ol > li {
  background-color: gray;
} */ 
 
 
@keyframes fade {
  0% { color: white; transform: translateY(20px); } 
  50% { color: white; transform: translateY(0); } 
  100% {color: white; transform: translateY(-20px); }
}
@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
 

.ticker { 
  will-change: transform;
}
 

.animate-in{
  animation: animateIn 0.3s ease 0.15s both;
}
.animated-in:hover {
  animation: animateIn 0.3s ease 0.15s both;

}
.text-animate-in{
  animation: animateIn 4s ease 3s infinite;
}

.text_changed {  
  animation: fade 2s ease-in-out infinite;
}
.header_truncate_at  { 
  overflow: hidden; 
  word-wrap: break-word;  
  text-overflow: ellipsis;
 
  }
.text_truncate_at  { 
  overflow: hidden; 
  word-wrap: break-word;  
  text-overflow: ellipsis; 
  display: -webkit-box;
  -webkit-line-clamp:5;
  -webkit-box-orient: vertical;
  }
.pages_shadow{
  box-shadow: 0 2px 5px #afb6c2;
}
.home_grid_alt:after {
  box-shadow: inset 0 0 80px 0 #504f4f;
  content: "";
  height:100%;
  position: absolute;  
  bottom:0; 
  width:100%; 
  -webkit-box-shadow: inset 0 0 80px 0 #504f4f;
 
  } 
  .about_shadow:after {
  box-shadow: inset 0 0 10px 0 #ffffff;
  content: "";
  height:100%;
  position: absolute;
  bottom:0;
  left:0;
  width:100%; 
  -webkit-box-shadow: inset 0 0 10px 0 #ffffff;
 
  } 
  @media (min-width: 640px) {
    .netflix-list:not(:last-child){
      border-bottom:0
  }}
@media (min-width: 768px) {
  .netflix-list:not(:last-child){
    border-bottom:0
}

 
 
  .home_grid:after {
    box-shadow: inset 0 -50px 100px 0 #504f4f;
    content: "";
    height:100%;
    position: absolute;  
    top:0;
    width: 100%; 
    -webkit-box-shadow: inset 0 -50px 100px 0 #504f4f;
  
    }  

 } 


@media (min-width: 1024px) {
  .home_grid:after {
    box-shadow: inset 0 -50px 100px 0 #504f4f;
    content: "";
    height:100%;
    position: absolute;  
    top:0; 
    width: 100%; 
    -webkit-box-shadow: inset 0 -50px 100px 0 #504f4f;
  
    } 
 }
 @media (min-width: 1280px) {
  .home_grid:after {
    box-shadow: inset 0 -90px 100px 0 #504f4f;
    content: "";
    height:100%;
    position: absolute;  
    top:0;
    width: 100%; 
    -webkit-box-shadow: inset 0 -90px 100px 0 #504f4f;
  
    } 
 }
  @media (prefers-color-scheme: dark) {
    :root {
      --color-dark: 0 0% 80%; 
      --color-light: 0 0% 20%;
      --color-background: 200 50% 3%;
      --color-btn-background: 200 10% 9%;
      --color-btn-background-hover: 200 10% 12%;
      --color-foreground: 200 20% 96%;
    }
  }
 
/* @layer base {
@layer base {
  * {
    @apply border-foreground/20;
  }
}


} */

.tightest{
  letter-spacing: -0.2em
}
 
.login_input ~ span.messageSpan{
  display:none
}
 
.login_input:invalid[data-focused="true"] {
 border:1px solid red

} 
.login_input:invalid[data-focused="true"] ~ span.messageSpan{
  display:block;
  color:red

}
.login_form{
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
font-weight: 400;
border-top:4px solid cyan;
}


 
.btn-link{
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
}  

 .card-data::-webkit-scrollbar{
  width:6px; 
  height:15px
 }
.card-data::-webkit-scrollbar-thumb{
  background-color: #a6a6b6 ;
  border: 4px solid transparent;
  border-radius:28px;
  background-clip: padding-box;
 
}
.Overlay::-webkit-scrollbar , .inSlidePop::-webkit-scrollbar ,.culturaysPop::-webkit-scrollbar , .grid_slide::-webkit-scrollbar{ 

width: 0; 
height:0
}

.Overlay {

overflow: scroll;
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
background-color: rgba(0,0,0,.4);
}


.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
.main {
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    padding: 120px 24px 160px 24px;
    pointer-events: none;
  }
  
  .main:before {
    /* background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%); */
    background-color:'';
    position: absolute;
    content: "";
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
  }
  
  .main:after {
    content: "";
    background-color: "" ;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0.4;
    filter: invert(1);
  }
  
  .gradient {
    height: fit-content;
    z-index: 3;
    width: 100%;
    max-width: 640px;
    background-image: radial-gradient(
        at 27% 37%,
        hsla(215, 98%, 61%, 1) 0px,
        transparent 0%
      ),
      radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
      radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
      radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
      radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
      radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
      radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    filter: blur(100px) saturate(150%);
    top: 80px;
    opacity: 0.15;
  }

  .post-view{
    border: 1px solid #333
  }
 
  .myFile {
    position: relative;
    overflow: hidden;
    float: left;
    clear: left;  
  }
 
  .myFile input[type="file"] {

font-size: 100px;
filter: alpha(opacity=0);
cursor: pointer; 
  }





  @media screen and (max-width: 640px) {
    .main {
      padding: 0;
    }
  }
  
  /* Tailwind Styles */
 
 
 